<h1><span data-i18n="skills.my_skills">Who Are We?</span></h1>

<div>
    Welcome to Aimless Agents, a joint blog between <a href="https://clairecw.github.io/">Claire</a> and <a href="https://tyu91.github.io/">Tiffany</a>. We're a pair of recent CMU grads (well, almost) who are excited about exploring the machine learning and reinforcement learning community.
</div>
<div>
    We're hoping to use this blog for documenting and sharing some projects we've worked on and learning resources we've made as we go along! 
</div>