{% assign images = include.urls | split: ", " %}
<figure class="image" style="width: 80%; margin: auto;">
    <div class="image-row">
        {% for image in images %}
            <img class="image" src="{{ image }}" alt="{{ include.description }}">
        {% endfor %}
    </div>
    <p><figcaption><i>{{ include.description }}</i></figcaption></p>
</figure>

<!-- {% assign images = include.urls | split: ", " %}
<figure class="image" style="width: 80%; margin: auto;">
    <div class="justify-content-center flex">
        {% for image in images %}
            <img src="{{ image }}" alt="{{ include.description }}">
        {% endfor %}
    </div>
    <p><figcaption><i>{{ include.description }}</i></figcaption></p>
</figure> -->