---
layout: default
---
<div class="row justify-content-center flex">
    
    <div class="col l3 pr1 pl1">
        <div class="circular propic">
            <img src="{{ site.baseurl }}/img/claire-propic.jpg">
        </div>
    </div>
    <div class="col l3 pr1 pl1">
        <div class="circular propic">
            <img src="{{ site.baseurl }}/img/tiffany-yu-propic.jpg">
        </div>
    </div>
  </div>
<div class="row">
    <div class="row">
        <div class="col">
            {% include sections/about.html %}        
        </div>
    </div>
</div>